.forecast-box-container{
    padding: 8px;
    grid-column: 1;
    display: flex;
    
    .icon-container{
        background: #3097f7;
        border-radius: 50%;
        margin: auto;
        width: 80px;
        height: 80px;
    }

    .temp-container{
        font-weight: 800;
        font-size: 36px;
        margin-right: 12px;
    }
    
    .date-container{
        font-size: 18px;
        z-index: 2;
        position: absolute;
        background: #3097f7;
        color: white;
        border-radius: 15px;
        top: -36px;
        right: 18px;
        padding: 12px;
        font-weight: 600;
    }

    .description-container{
        .temperature{
            display:block;
        }
        .humidity{
            display: block;
        }
        span{
            margin: 10px;
        }
    }

    div{
        margin: auto 0px;
        padding-right: 10px;
    }

    @media only screen and (max-width: 1024px) {
        .temp-container{
            font-size: 18px;
        }
        .icon-container{
            width: 60px;
            height: 60px;
            margin: auto;
        }
        .description-container{
            display:none;
        }
        .date-container{
            left: 0;
            top: -56px;
            right: 0;
            text-align: center;
        }
    }
}